@{
    ViewBag.Title = "Index";
}

<h2>Curriculum de Edward Rojas</h2>

<p>Nombre: Edward Rojas Mendez <br/>
   Cedula: 1 0111 0111<br/>
   Estado Civil: Soltero<br/>
   Telefono: 1111-1111<br/>
   email: asddsadf<br/>
    <br/>
   Historial academico<br/>
    <br/>
   Titulo de ....<br/>
   Titulo de ....<br/>
   Titulo de ....<br/>
    <br/>
   Habilidades<br/>
   <br/>
   ....<br/>
   ....<br/>
   ....    <br/>
</p>

