@{
    ViewBag.Title = "Create";
}

<h2>Recomendacion</h2>
@using (Html.BeginForm()) {
    <fieldset>
        <legend>Datos</legend>

        <div class="editor-label">
            <label>Nombre</label>
        </div>
        <div class="editor-field">
            <input name="nombre"/>
        </div>
        <div class="editor-label">
            <label>Telefono</label>
        </div>
        <div class="editor-field">
            <input name="telefono"/>
        </div>
        <div class="editor-label">
            <label>Email</label>
        </div>
        <div class="editor-field">
            <input name="email"/>
        </div>
        <div class="editor-label">
            <label>Comentario</label>
        </div>
        <div class="editor-field">
                <textarea name="comentario" rows="4" cols="50">
           </textarea>
        </div>

        <p>
            <input type="submit" value="Recomendar" />
        </p>
    </fieldset>
}