@{
    ViewBag.Title = "Index";
    

}
@using (Html.BeginForm()) {
 <fieldset>
        <legend>Datos</legend>
    
        <div class="editor-label">
            <label>Nombre</label>
        </div>
        <div class="editor-field">
            <input name="nombre"/>
        </div>
        <div class="editor-label">
            <label>Email</label>
        </div>
        <div class="editor-field">
            <input name="email"/>
        </div>
     <div class="editor-label">
            <label>Mensaje</label>
        </div>
        <div class="editor-field">
           <textarea name="mensaje" rows="4" cols="50">
           </textarea>
        </div>

        <p>
            <input type="submit" value="Enviar" />
           
        </p>      
    
    </fieldset>
}