@{
    ViewBag.Title = "Index";

   
} 
@using (Html.BeginForm("SendMail", "Contactos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
 <fieldset>
        <legend>Datos</legend>
    
        <div class="editor-label">
            <label>Nombre</label>
        </div>
        <div class="editor-field">
            <input name="Subject"/>
        </div>
        <div class="editor-label">
            <label>Email</label>
        </div>
        <div class="editor-field">
            <input name="Mail"/>
        </div>
     <div class="editor-label">
            <label>Mensaje</label>
        </div>
        <div class="editor-field">
           <textarea name="Body" rows="4" cols="50">
           </textarea>
        </div>

        <p>
            <input type="submit" value="Enviar" />
           
        </p>      
    
    </fieldset>
}